In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
data=pd.read_csv(r'C:\Users\vishal\Downloads\tips.CSV')

In [80]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [81]:
data.shape

(244, 7)

In [82]:
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [83]:
data.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [84]:
# some of our columns data is in string format we have to convert it into numerical.

In [85]:
newdata=pd.get_dummies(data[['sex','smoker','day','time']])
newdata.head()

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1,0,1,0,0,0,1,0,1,0
1,0,1,1,0,0,0,1,0,1,0
2,0,1,1,0,0,0,1,0,1,0
3,0,1,1,0,0,0,1,0,1,0
4,1,0,1,0,0,0,1,0,1,0

In [86]:
# now split the data in training data and testing data

In [91]:
x=data.drop(['total_bill','sex','smoker','day','time'],axis=1).join(newdata)

In [92]:
x.shape

(244, 12)

In [93]:
x.head()

,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1.01,2,1,0,1,0,0,0,1,0,1,0
1,1.66,3,0,1,1,0,0,0,1,0,1,0
2,3.50,3,0,1,1,0,0,0,1,0,1,0
3,3.31,2,0,1,1,0,0,0,1,0,1,0
4,3.61,4,1,0,1,0,0,0,1,0,1,0

In [94]:
y=data['total_bill']
y.head()

0    16.99
1    10.34
2    21.01
3    23.68
4    24.59
Name: total_bill, dtype: float64

In [95]:
# use train test split to split the data into training and testing

In [120]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
np.random.seed(42)

In [121]:
x_train.shape

(195, 12)

In [122]:
y_test.shape

(49,)

In [123]:
# now we check different model to get better accuracy

In [124]:
# LinearRegression


from sklearn.linear_model import LinearRegression

np.random.seed(42)
model1=LinearRegression()
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

0.624080871429097

In [125]:
# Ridge


from sklearn.linear_model import Ridge

np.random.seed(42)
model2=Ridge()
model2.fit(x_train,y_train)
model2.score(x_test,y_test)

0.6245679162717579

In [126]:
# lasso


from sklearn import linear_model

np.random.seed(42)
model3=linear_model.Lasso(alpha=0.1)
model3.fit(x_train,y_train)
model3.score(x_test,y_test)

0.6310334486220415

In [127]:
# RandomForestRegressor()


from sklearn.ensemble import RandomForestRegressor

np.random.seed(42)
model4=RandomForestRegressor()
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.4972138769311695

In [128]:
#BayesianRidge()


from sklearn import linear_model

np.random.seed(42)
model5=linear_model.BayesianRidge()
model5.fit(x_train,y_train)
model5.score(x_test,y_test)

0.6227108166504662

In [129]:
#ARDRegression()


from sklearn import linear_model
model6=linear_model.ARDRegression()

model6.fit(x_train,y_train)
model6.score(x_test,y_test)

0.630584898067057

In [ ]:
# here we check different models , but dataset is small in size and there is not enough features available.
# thats why we getting low aacuracy